*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
}

html,
body {
    scroll-behavior: smooth;
}
/* ============================== Common ==============================*/
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1270px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.sub-title {
    font-size: 1.4rem;
    color: #e62b4a;
    font-weight: 300;
    padding: 10px;
}

.heading {
    font-size: 5rem;
    line-height: 130%;
    text-align: center;
}

.desc {
    font-size: 1.6rem;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
    text-align: center;
}

.btn {
    --height: 51px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: var(--height);
    line-height: var(--height);
    width: 150px;
    border: 1px solid #e62b4a;
    background-color: #e62b4a;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Custom  scrollbar*/
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

/* ============================== Header ==============================*/
.header {
    width: 100%;
    padding: 26px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
}

.header-inner {
    width: 1330px;
    max-width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.logo-text {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 131.25%;
    color: white;
}

.navbar-list {
    display: flex;
    align-items: center;
    color: white;
}

.navbar-item {
    font-size: 1.7rem;
    padding: 10px 25px;
    transition: all 0.25s;
    cursor: pointer;
}

.navbar-item:hover,
.navbar-item--active {
    color: #e62b4a;
}

/* ============================== Hero ==============================*/
.hero {
    display: flex;
    align-items: center;
    background-image: url("../img/home_slider.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sub-title-hero {
    font-size: 2.5rem;
    color: black;
    padding: 10px 0;
}

.title-hero {
    font-size: 7.5rem;
    max-width: 490px;
    line-height: 120%;
    padding: 10px 0;
    font-weight: 700;
    color: black;
}

.hero-btn {
    margin-top: 20px;
}

.hero-btn:hover {
    background-color: #af2239;
}

.hero-scroll {
    width: 40px;
    height: 40px;
    margin-top: 60px;
}

.hero-scroll-icon {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(123deg) brightness(110%) contrast(101%);
    animation: arrowDown 1s linear infinite;
}

/* ============================== Service ==============================*/
.service {
    background-color: #000;
    padding: 90px;
}

.service-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-heading {
    color: white;
}

.service-desc {
    max-width: 640px;
}

.service-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-list {
    display: flex;
    overflow: hidden;
}

.service-item {
    position: relative;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: calc(20% - 30px);
    height: 230px;
    flex-shrink: 0;
}

.service-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 0;
    width: 5px;
    background-color: #e62b4a;
    top: 0;
    right: 0;
    transition: height 0.3s;
}

.service-item:hover::after {
    height: 100%;
}

.service-item-icon {
    height: 50px;
    filter: invert(60%) sepia(0%) saturate(21%) hue-rotate(219deg) brightness(90%) contrast(87%);
}

.service-item-desc {
    margin: 5px 0;
    max-width: 85px;
    font-size: 1.4rem;
    font-weight: 400;
}

.service-dots {
    display: flex;
    column-gap: 16px;
}

.service-dot {
    width: 12px;
    height: 12px;
    background-color: #494949;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.service-dot:hover {
    background-color: white;
}

.service-dot--active {
    background-color: #b21e38;
}

@keyframes arrowDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(40px);
    }
}
