*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
}

html,
body {
    scroll-behavior: smooth;
}
/* ============================== Common ==============================*/
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.sub-title {
    font-size: 1.4rem;
    color: #e62b4a;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}

.heading {
    font-size: 5rem;
    line-height: 130%;
    text-align: center;
}

.desc {
    font-size: 1.6rem;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
    text-align: center;
}

.btn {
    --height: 51px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: var(--height);
    line-height: var(--height);
    width: 150px;
    border: 1px solid #e62b4a;
    background-color: #e62b4a;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Custom  scrollbar*/
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

/* ============================== Header ==============================*/
.header {
    width: 100%;
    padding: 26px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
}

.header-inner {
    width: 1330px;
    max-width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.logo-text {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 131.25%;
    color: white;
}

.navbar-list {
    display: flex;
    align-items: center;
    color: white;
}

.navbar-item {
    font-size: 1.7rem;
    padding: 10px 25px;
    transition: all 0.25s;
    cursor: pointer;
}

.navbar-item:hover,
.navbar-item--active {
    color: #e62b4a;
}

/* ============================== Hero ==============================*/
.hero {
    display: flex;
    align-items: center;
    background-image: url("../img/home_slider.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-sub-title {
    font-size: 2.5rem;
    color: black;
    padding: 10px 0;
}

.hero-title {
    font-size: 7.5rem;
    max-width: 490px;
    line-height: 120%;
    padding: 10px 0;
    font-weight: 700;
    color: black;
}

.hero-btn {
    margin-top: 20px;
}

.hero-btn:hover {
    background-color: #af2239;
}

.hero-scroll {
    width: 40px;
    height: 40px;
    margin-top: 60px;
}

.hero-scroll-icon {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(123deg) brightness(110%) contrast(101%);
    animation: arrowDown 1s linear infinite;
}

/* ============================== Service ==============================*/
.service {
    background-color: #000;
    padding: 90px;
}

.service-top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-heading {
    color: white;
}

.service-desc {
    max-width: 640px;
}

.service-item {
    position: relative;
    margin: 15px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: calc(100% - 20px) !important;
    height: 230px;
}

.service-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 0;
    width: 5px;
    background-color: #e62b4a;
    top: 0;
    right: 0;
    transition: height 0.3s;
}

.service-item:hover::after {
    height: 100%;
}

.service-item-icon {
    height: 50px;
    filter: invert(60%) sepia(0%) saturate(21%) hue-rotate(219deg) brightness(90%) contrast(87%);
}

.service-item-desc {
    margin: 5px 0;
    max-width: 85px;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Slick */
.service-list .slick-dots li button:before {
    color: #ffffff;
    font-size: 1.4rem;
}

.service-list .slick-dots li.slick-active button:before {
    color: #e62b4a;
}

/* ============================== Blog ==============================*/
.blog {
    padding: 80px 0;
}

.blog-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-sub-title {
    color: #888888;
    font-weight: 400;
}

.blog-desc {
    max-width: 580px;
}

.blog-masonry {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.blog-item {
    position: relative;
}

.blog-item-img {
    width: 100%;
    filter: grayscale(50%) contrast(50%);
    object-fit: cover;
    vertical-align: bottom;
}

.blog-item:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.blog-item:last-child {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.blog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: opacity 0.5s;
}

.blog-overlay:hover {
    opacity: 1;
}

.blog-overlay-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: white;
    top: 25px;
    right: 25px;
    transition: all 0.6s;
    cursor: pointer;
    transform: translateY(25px);
}

.blog-overlay:hover .blog-overlay-icon,
.blog-overlay:hover .blog-overlay-info {
    transform: translateY(0);
}

.blog-overlay-icon:hover {
    background-color: #000;
}

.blog-overlay-icon:hover img {
    transition-duration: 0.6s;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(123deg) brightness(110%) contrast(101%);
}

.blog-overlay-info {
    position: absolute;
    left: 25px;
    bottom: 25px;
    transition: all 0.6s;
    transform: translateY(25px);
}

.blog-info-logo {
    font-size: 1.6rem;
    color: #d0c7c8;
    line-height: 140%;
}

.blog-info-name {
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    line-height: 150%;
}

/* ============================== Blog ==============================*/
.stats {
    padding: 80px 0;
    background-color: #000;
}

.stats-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-list {
    padding: 25px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 150px;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}

.stats-item {
    text-align: center;
}

.stats-item-qty {
    font-size: 6rem;
    font-weight: 300;
    color: white;
    line-height: 140%;
}

.stats-item-desc {
    font-size: 2rem;
    color: #888888;
    line-height: 140%;
}

/* ============================== Experience ==============================*/
.experience {
    padding: 80px 0;
    background-image: url("../img/bussiness_img_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.experience-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.experience-heading {
    color: white;
}

.experience-desc {
    max-width: 580px;
}

.experience-content {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 20px;
}

.experience-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

/* ============================== Contact ==============================*/
.contact {
    padding: 80px 0;
}

.contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-desc {
    max-width: 580px;
}

.contact-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    column-gap: 30px;
}

.contact-map {
    width: 60%;
}

.contact-map-iframe {
    width: 100%;
    height: 452px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    row-gap: 30px;
}

.contact-form-input,
.contact-form-textarea {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid #888888;
    border-radius: 2px;
}

.contact-form-textarea {
    resize: none;
}

.contact-btn {
    --height: 57px;

    width: 100%;
    background-color: #000;
    transition: background-color 0.3s;
    border-color: inherit;
}

.contact-btn:hover {
    background-color: #e62b4a;
}

/* ============================== Footer ==============================*/

.footer {
    padding: 80px;
    background-color: #000000;
    color: white;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.footer-social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s;
}

.social-item-icon {
    width: 16px;
    height: 16px;
    display: flex;
    filter: invert(96%) sepia(84%) saturate(0%) hue-rotate(173deg) brightness(114%) contrast(101%);
}

.footer-social-item:hover {
    background-color: #e62b4a;
}

/* ============================== Back to top ==============================*/
.backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.25);
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.backToTop-icon {
    width: 40%;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(123deg) brightness(110%) contrast(101%);
    rotate: 180deg;
    margin: auto;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

@keyframes arrowDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(40px);
    }
}
